{% extends "base.html" %}

{% block style %}
    <style>
        h1 {
            text-align:center;
        }
        .MyCenter {
            text-align: center;
        }

    </style>
{% endblock %}

{% block content %}

    <h1>L.M.Toerner is the </h1>

    <p class="MyCenter">Don't see what you're looking for? We carry everything, <a href="/contact">call or email us</a></p>
    <p>Index worked!</p>
    <p>Index worked!</p>
    <p>Index worked!</p>
    <p>Index worked!</p>
    <p>Index worked!</p>
    <p>Index worked!</p>
    <p>Index worked!</p>
    <p>Index worked!</p>
    <p>Index worked!</p>
    <p>Index worked!</p>
    <p>Index worked!</p>
    <p>Index worked!</p>
    <p>Index worked!</p>
    <p>Index worked!</p>
    <p>Index worked!</p>
    <p>Index worked!</p>
    <p>Index worked!</p>
    <p>Index worked!</p>
    <p>Index worked!</p>
    <p>Index worked!</p>
    <p>Index worked!</p>
    <p>Index worked!</p>
    <p>Index worked!</p>
    <p>Index worked!</p>
    <p>Index worked!</p>
    <p>Index worked!</p>
    <p>Index worked!</p>
    <p>Index worked!</p>
    <p>Index worked!</p>
    <p>Index worked!</p>
    <p>Index worked!</p>
    <p>Index worked!</p>
    <p>Index worked!</p>
    <p>Index worked!</p>
    <p>Index worked!</p>
    <p>Index worked!</p>
    <p>Index worked!</p>
    <p>Index worked!</p>
    <p>Index worked!</p>
    <p>Index worked!</p>
    <p>Index worked!</p>
    <p>Index worked!</p>
    <p>Index worked!</p>
    <p>Index worked!</p>
    <p>Index worked!</p>
    <p>Index worked!</p>
    <p>Index worked!</p>
    <p>Index worked!</p>
    <p>Index worked!</p>
    <p>Index worked!</p>
    <p>Index worked!</p>
    <p>Index worked!</p>
    <p>Index worked!</p>
    <p>Index worked!</p>
    <p>Index worked!</p>
    <p>Index worked!</p>
    <p>Index worked!</p>
    <p>Index worked!</p>
    <p>Index worked!</p>
    <p>Index worked!</p>
    <p>Index worked!</p>
    <p>Index worked!</p>
    <p>Index worked!</p>
    <p>Index worked!</p>
    <p>Index worked!</p>
    <p>Index worked!</p>
    <p>Index worked!</p>
    <p>Index worked!</p>
    <p>Index worked!</p>
    <p>Index worked!</p>
    <p>Index worked!</p>
    <p>Index worked!</p>
    <p>Index worked!</p>
    <p>Index worked!</p>
    <p>Index worked!</p>
    <p>Index worked!</p>
    <p>Index worked!</p>
    <p>Index worked!</p>
    <p>Index worked!</p>
    <p>Index worked!</p>
    <p>Index worked!</p>
    <p>Index worked!</p>
    <p>Index worked!</p>
    <p>Index worked!</p>
    <p>Index worked!</p>
    <p>Index worked!</p>
    <p>Index worked!</p>
    <p>Index worked!</p>
    <p>Index worked!</p>
    <p>Index worked!</p>
    <p>Index worked!</p>
    <p>Index worked!</p>
    <p>Index worked!</p>
    <p>Index worked!</p>
    <p>Index worked!</p>
    <p>Index worked!</p>
    <p>Index worked!</p>
    <p>Index worked!</p>
    <p>Index worked!</p>
    <p>Index worked!</p>
    <p>Index worked!</p>
    <p>Index worked!</p>
    <p>Index worked!</p>
    <p>Index worked!</p>
    <p>Index worked!</p>
    <p>Index worked!</p>
    <p>Index worked!</p>
    <p>Index worked!</p>
    <p>Index worked!</p>

{% endblock %}